
/*CSS Reset
http://meyerweb.com/eric/tools/css/reset/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* particleground demo */

* { 
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
}

body {
  background: #674172;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.intro p{
  font-size: 1.5em;
}

h2 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 0.015em;
  margin: 60px 0 30px 0;
  text-align: center;
}
/*h2::after {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 10px;
  margin: 30px auto;
  line-height: 1.1;
}*/
h1{
  font-size: 3em;
  color: #C0392B;
  text-align: center;
  margin-top: 50px;
}

h3{
  color: #C0392B;
  font-size: 22px;
  text-align: center;
  margin: 30px 0 50px 0; 
}

i{
  padding-right: 6px;
}

p {
  margin: 70px 0 30px 0;
  font-size: 18px;
}
.btn {
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}
.btn:hover {
  color: #005544;
  border-color: #005544;
}

table{
  background-color: #FFF;
  padding-bottom: 10px;
}



table p{
  color: #585858;
  margin: 0px;
  padding: 10px 10px 10px 10px;
}

td{
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

td p{
  padding-top: 10px;
}

th{
  background-color: #ea6153;
  border-right: 1px solid #ea6153;
}

img{
  margin-top: 80px;
}

.confirmar{
  color: #16a085;
  padding: 0;
  margin: 0;
}

#fecha{
  width: 100%;
  height: auto;
  background-color: #F5AB35;
  padding: 50px 0 50px 0;
}

#desc{
  font-size: 12px;
  line-height: 2px;
}

#agenda{
  width: 100%;
  height: auto;
  background-color: #049372;
  padding: 80px 0 140px 0;
}

#agenda span{
  color: #049372;
}

#sponsor{
  background-color:#F0F0F0;
  width: 100%;
  height: auto;
  padding: 30px 0 80px 0;
}

#sponsor h2{
  color: #34495E;
  font-size: 2em;
}

#sponsor h3{
  color:#a8a8a8;
  font-size: 1em;
  margin-top: -20px;
  padding-bottom: 30px;
}

#sponsor img{
  width: 100%;
  height: auto;
  display: inline-block;
  margin: 0 0 30px 0;
}

.hora{
  text-align: center;
}

ul.countdown {
list-style: none;
margin: 0 0 -75px 0;
padding: 0;
display: block;
text-align: center;
}
ul.countdown h2{
  color: #000;
  font-size: 24px;
}
ul.countdown li {
display: inline-block;
}
ul.countdown li span {
font-size: 80px;
font-weight: 300;
line-height: 80px;
font-size: 4.5em;
}
ul.countdown li.seperator {
font-size: 80px;
line-height: 70px;
vertical-align: top;
font-size: 4.5em;
}
ul.countdown li p {
color: #000;
font-size: 14px;
margin-top: 0;
}

.comprar{
  padding: 60px 0 0 0;
}

.comprar h3{
  color: #F0F0F0;
  font-size: 2em;
}

.comprar a i{
  padding-right: 10px;
}

.comprar a{
  text-decoration: none;
  color: #836400;
  padding:20px;
  background-color: #E1B10E;
  border:none;
  border-radius: 4px;
  font-size: 1.4em;

}

.comprar a:hover{
  background-color: #cea10c;
  border:none;
  border-radius: 4px;
  font-size: 1.4em;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 70px;
  }

  img{
    width: 100%;
    height: auto;
  }

}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 48px;
  }
  h1::after {
    height: 8px;
  }

  .intro p{
  font-size: 1em;
  }

}

@media only screen and (max-width: 568px) {
  .intro {
    padding: 0 10px;
  }
  h1 {
    font-size: 30px;
  }
  h1::after {
    height: 6px;
  }
  p {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
  }

  #fecha ul{
    margin-bottom: 50px;
  }

  .intro p{
  font-size: 1em;
  }

  ul.countdown {
    font-size:0.4em;
   }

}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 28px;
  }
  h1::after {
    height: 4px;
  }

  .intro p{
  font-size: 1em;
  }

  ul.countdown {
    font-size:0.4em;
   }


}

/* Portrait */
@media screen and (orientation:portrait) {
   /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation:landscape) {
   /* Landscape styles here */
   p{
    padding-bottom: 70px;
   }

}